/* body{
      background: linear-gradient(
        to top,
        #0d1b2a 0%,
        #0d1b2a 50%,
        #1b263b 50%,
        rgb(27, 38, 59) 100% 
      );
      height: 100vh;
      margin: 0;
      padding: 0;
} */
body {
  background-color: #f5f5f5; /* set the fixed background color */
  background-image: linear-gradient(to bottom, #0d1b2a 50%, #1b263b 50%); /* create a gradient for the two colors */
  background-repeat: no-repeat; /* prevent the background from repeating */
  background-attachment: fixed; /* fix the background position */
  height: 100vh; /* set the height of the content area to fill the viewport */
}

.mbar{

    margin-left: 13%;
    margin-right: 13%;
}
.navp{
    margin-left: 12%;
}
.navr{
    display: flex;
    justify-content: end;
}
.div01{
  width: 100%;
  left: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
  
}
.circle{
  background-color: #1b263b;
  width: 60vw;
  height: 60vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  border-collapse: collapse;
  z-index: -1;
}
.center {
    display: flex;
    justify-content: center;
    
}
.center > div {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 220px;
  height: 70px;
  background-color: #232d40;
}
.center > div > a {
  display: flex;
  justify-content: center;
  width:120px;
  height: 35px;
  background-color: #0d1b2a;
  text-decoration: none;
  color: #131212;
}
.mcenter{
    justify-items: center;
    position: relative;
    margin-top: 18%;

}
.leftpara{
  /* background-color: aqua; */
    color: white !important;
    line-height: 220%;
    flex-direction:column;
    width: 100%;
    max-width: 400px;
    /* display: inline-block; */
    /* margin-top: 3%; */
    position: relative;
    left: 13%;
}
.self{
    
    font-family: 'Unbounded';
  }
  .name{
   
    font-family: 'Fredoka One';
    font-size: 2em;

  }
  .line{
    width: 62%;
    height: 0.3em;
    background-color: burlywood;
    margin-top: 1%;
  }
  .npara{

    width: 70%;
    height: auto;
    line-height: normal !important;
    margin-top: 2%;
    font-size: 0.9em;
  }
  .name{
    font-size: 2.7em;
  }
  .self{
    font-size: 2.5em;
  }

.rightpara{
  /* background-color: aqua; */
    margin-top: -15%;
    position: relative;
    right: 15%;
    flex-direction: column; 

}
.spara{
  width: 250px;
  height: 35px;
    font-weight: bold;

}
.showmore{
  color: rgb(231, 167, 85);
  font-weight: bold;
  display: flex;
    align-items: center;
  
}
.links{
  width: 150px;
  display: flex;
  justify-content: space-between;
  
}
.links a {
  background-color: rgba(37, 44, 57, 0.5) ;
  width: 35px;
  height: 35px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}  
.div02{
  color: white !important;
  display: flex;
  flex-direction: row;
}
.projects{
    width: 100%;
    max-width: 300px;
    line-height: normal;
    position: relative;
    left: 08%;
    margin-top: 1%;
}
.needs{
  font-size: 1.4em;
  font-weight: bolder;
}
.lorem{
  font-size: 0.9em;
}
.lastline{
  font-size: 0.8em;
}
.prolist{
  text-decoration: none;
  color: rgb(231, 167, 85);
  font-size: 1em;
  font-weight: bold;
}
.righpics{
  width: 100%;
  max-width: 400px;
  position: relative;
  right: -30%;
  margin-top: 2%;

}
.frontend {
  display: flex;
  
  
}
.appdev{
  display: flex;
}
.lin{
  width: 90%;
  height: 0.1em;
  background-color: burlywood;
}


@media screen and (max-width: 425px) {
  body{
    overflow-y: scroll;  /* enable vertical scrolling for the content area */
    background-attachment: inherit; /* fix the background position */
    height: 100%; /* set the height of the content area to fill the viewport */
  }
  .mbar{

    margin-left: 0;
    margin-right: 0;
}
.navr{
  display: flex;
  justify-content:start;
  
}
.navr{
  display: none;
}
.div01{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  position: relative;
  }
  .container2 {
    order: 3;
  }
  .container3 {
    order: 2;
  }
.circle{
  background-color: #0d1b2a;
  width: 60vw;
  height: 60vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  /* border-collapse: collapse; */
  /* z-index: -1; */
}
.leftpara{
  /* background-color: aqua; */
    color: white !important;
    line-height: 130%;
    flex-direction:column;
    position: relative;
     }
.name {
  font-size: 2em;
}
.self{
  font-size: 1.8em;
}
.npara {
  font-size: 0.9em;
}
@media screen and (max-width: 375px){
  .name {
    font-size: 1.8em;
  }
  .self{
    font-size: 1.5em;
  }
}
}








  
  
  
  
